* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
    
   
}

:root {
    --bg-nav: rgb(49, 49, 141);
    --bg-hover: blueviolet;
}


/* icon rotate */

.rotate {
    transition: 0.5s;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

label {
    line-height: 50px;
    font-size: 20px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    margin-left: 10px;
}


/* header */

header {
    background: var(--bg-nav);
    line-height: 50px;
    position: fixed;
    width: 100%;
    
}

header a {
    float: right;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 500;
    background-color: blue;
    border-radius: 3px;
}

header a:hover {
    background-color: var(--bg-hover);
    color: white;
    transition: 0.8s;
}

/* side menu */

.side-menu {
    position: fixed;
    background: var(--bg-nav);
    width: 180px;
    height: 100%;
    margin-top: 50px;
}

.side-menu img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    border: solid white;
}

.side-menu h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    border-bottom: solid white;
}

.side-menu a {
    display: block;
    color: white;
    line-height: 60px;
    transition: 0.5s;
    margin-top: 10px;
}

.side-menu h2 {
    font-size: 15px;
}

.side-menu a:hover {
    background: var(--bg-hover);
    padding-left: 20px;
}

.side-menu span {
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.side-menu i {
    font-size: 20px;
    margin-left: 20px;
    color: white;
}


/*main*/

.row {
    margin-left: 250px;
    padding: 80px 0 0 0px;
}

.city-selected{
   width: 50%;
   height: 80px;
   justify-content: center;
   text-align: center;
   align-items: center;
   display:flexbox;
   background-color: rgb(137, 206, 238);
   border: 5px solid darkblue;
   border-radius: 10px;
   padding: 10px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label {
    color: black;
    justify-content: space-around;

}

.showtour-btn {
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(247, 211, 52);
}

.showtour-btn :hover {
    size: 30px;
    background-color: yellow;
    
}
.container{
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: block;
   margin-top: 20px;
   padding: 20px 10px;
   margin: 10px 20px;
   
}

.container h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}
.tickets-select{    
   width: 20%;
   height: 70px;
   justify-content: center;
   text-align: center;
   align-items: center;
   display:flexbox;
   background-color: rgb(137, 206, 238);
   border: 5px solid darkblue;
   border-radius: 10px;
   padding: 10px;
   margin: 0px 20px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tickets-select h3 {
    padding: 20px;
}

.tickets-select ul {
    display:block;
}

.tour {
    width: 300px;
    background-color: rgb(227, 205, 248);
    margin-bottom: 20px;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 20px;
}

.btn {
    background-color: rgb(247, 211, 52);
    border-radius: 5px;
    width: 80px;
    height: 40px;
    position: relative;
}

.btn :hover {
    background-color: orange;
}