* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --bg-nav: rgb(49, 49, 141);
    --bg-hover: blueviolet;
}


/* icon rotate */

.rotate {
    transition: 0.5s;
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

label {
    line-height: 50px;
    font-size: 20px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    margin-left: 10px;
}


/* header */

header {
    background: var(--bg-nav);
    line-height: 50px;
    position: fixed;
    width: 100%;
}

header a {
    float: right;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 500;
    background-color: blue;
    border-radius: 3px;
}

header a:hover {
    background-color: var(--bg-hover);
    color: white;
    transition: 0.8s;
}


/* side menu */

.side-menu {
    position: fixed;
    background: var(--bg-nav);
    width: 180px;
    height: 100%;
    margin-top: 50px;
}

.side-menu img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    border: solid white;
}

.side-menu h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    border-bottom: solid white;
}

.side-menu a {
    display: block;
    color: white;
    line-height: 60px;
    transition: 0.5s;
    margin-top: 10px;
}

.side-menu h2 {
    font-size: 20px;
}

.side-menu a:hover {
    background: var(--bg-hover);
    padding-left: 20px;
}

.side-menu span {
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.side-menu i {
    font-size: 20px;
    margin-left: 20px;
    color: white;
}


/* div, data, container */

.main-data {
    background-color: black;
    display: flex;
    /* justify-content: center; */
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    height: 100%;
    margin-left: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    gap: 1.5rem;
}

.banner {
    background-position: center;
    justify-content: center;
    padding: 62.5px 0 0 180px;
}

.img {
    display: flex;
    width: 80%;
    padding: 0 0 0 400px;
}

.container {
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 0 350px;
    margin: 10px;
    max-width: 450px;
    overflow: hidden;
    background: white;
    box-shadow: 10px 5px 15px lightblue;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 200ms ease-in-out;
}

.card:hover {
    transform: translateY(1rem);
}

.card-image {
    /* background-image: url('sss.jpg'); */
    flex: 0 0 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#rsimg {
    width: 450px;
    height: 200px;
    background-position: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-snippet {
    margin-bottom: 0.5rem;
}

.card-location {
    margin-bottom: 0.5rem;
    font-size: x-large;
}

.card-date {
    margin: 0.5rem 0 0.5rem 0;
}

.card-readmore {
    margin-top: auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: large;
}

footer {
    position: inherit;
    padding: 0 10px 0 190px;
    background-color: violet;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--bg-nav);
    padding: 20px;
}

@media screen and (max-width: 1101px) {
    .banner {
        padding: 120px 0 0 0px;
    }
    .img {
        width: 100%;
    }
    .card {
        max-width: 350px;
    }
}

@media screen and (max-width: 700px) {
    .banner {
        padding: 150px 0 0 -50px;
    }
    .img {
        width: 120%;
    }
    .card {
        max-width: 250px;
    }
}